# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go build
/bin/
/dist/

# Dependency directories
/vendor/

# Go workspace file
go.work
go.work.sum

# Module download cache
/go/pkg/mod/

# Coverage
coverage.out
coverage.html
